body {
    text-align: center;
}

#wrapper {
    width: 75%;
    min-width: 300px;
    max-width: 600px;
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    background-color: red;
    border-radius: 10px;
    color: white;
    margin-left: 2px;
    margin-right: 2px;
}

#nav-bar {
    display: table;
    margin: 0 auto;
}

footer {
    margin-top: 100px;
}